/* Service Detail Page Styling */
.service-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto;
}
.no-service {
  height: 300px;
  display: grid;
  align-items: flex-start;
  justify-content: center;
}

.service-image {
  width: 350px;
  height: 300px;
}

@media only screen and (max-width: 688px) {
  .service-detail-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }
}

.spinner-arena {
  margin: 20px;
  height: 300px;
}

.spinnner-position {
  position: relative;
  left: 50%;
  top: 50%;
}
