/* HomeInfo Styling */
.home-info {
  margin: 20px;
  background: url("https://images.pexels.com/photos/2803160/pexels-photo-2803160.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 600px;
}

.text-position {
  position: relative;
  left: 0%;
  top: 50%;
}
